# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# Android
.gradle/
local.properties
captures/
.cxx/
android/.gradle/
android/local.properties
android/key.properties

# Generated
GeneratedPluginRegistrant.*
.flutter-plugins
.flutter-plugins-dependencies

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Keystore
*.jks
*.keystore

# Misc
coverage/